<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/contact.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h1>Contact Us</h1>
        <p>If you have any questions, please feel free to reach out to us using the form below:</p>
        <form class="form" action="/contact" method="POST">
            <input placeholder="Enter your name" class="input" type="text" name="name" required>
            <input placeholder="Enter your email" class="input" type="email" name="email" required>
            <input placeholder="message" class="input" type="text" name="message" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
